<app-header title="Кошелек"></app-header>


<ion-content>

  <ion-card *ngFor="let balance of balances" class="welcome-card">
    <ion-img src="/assets/etherium.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ balance.assetName}}</ion-card-subtitle>
      <ion-card-title>{{ balance.amount}}</ion-card-title>
    </ion-card-header>
<!--    <ion-card-content>-->
<!--      <p>About text.</p>-->
<!--    </ion-card-content>-->
  </ion-card>


  <ion-button routerLink="/transfer-history">History</ion-button>
  <ion-button routerLink="/transfer">Transfer</ion-button>
</ion-content>
