<ion-header>
  <ion-toolbar>
    <ion-title>notaries-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Нотариусы</div>
  <div #gmap style="width:100%;height:400px"></div>
  <ion-grid>
      <ion-row>
        <ion-col>
          ФИО
        </ion-col>
        <ion-col>
          Телефон
        </ion-col>
        <ion-col>
          Метро
        </ion-col>
        <ion-col>
          Адресс
       </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of items" class="item-note"> 
        <ion-col>
          {{item.title}}
        </ion-col>
        <ion-col>
          {{item.phone}}
        </ion-col>
        <ion-col>
          {{item.metro}}
        </ion-col>
        <ion-col>
          {{item.address}}
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
