<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Нотариусы</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-avatar slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>

          <div class="item-note" slot="start">
            {{item.title}}
          </div>
          <div class="item-note" slot="end">
            {{item.phone}}
            {{item.metro}}
            {{item.address}}
          </div>

        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
