<app-header title="О программе"></app-header>


<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Solvador</ion-card-subtitle>
      <ion-card-title>Восстановления доступа к токенам</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="logo-github"></ion-icon>

      <a href="https://github.com/Vany/solvador">https://github.com/Vany/solvador</a>
    </ion-card-content>
  </ion-card>
</ion-content>
