<ion-header>
  <ion-toolbar>
    <ion-title>Вход</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of users" (click)="login(item.name)">
<!--      <ion-avatar slot="start">-->
<!--        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">-->
<!--      </ion-avatar>-->
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>

        <div class="item-note" slot="start">
          {{item.name}}
        </div>
<!--        <div class="item-note" slot="end">-->
<!--        </div>-->

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
